﻿@model JoeMarket.ViewModels.CartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

<table>
    <tr>
        <th>
            Album Name
        </th>
        <th>
            Price (each)
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.ProductId">
            <td>
                @*@Html.ActionLink(item.Album.Title, "Details", "Store", new { id = item.AlbumId }, null)*@
            </td>
            <td>
                @item.Product.Price
            </td>
            <td id="item-count-@item.ItemId">
                @item.Quantity
            </td>
            <td>
                <a href="#" class="RemoveLink" data-id="@item.ItemId">Remove from cart</a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td></td>
        <td></td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
</table>
Hello
hello
o
o
o
o
