﻿<form ng-submit="login()">
    <label for="emailAddress">Email Address:</label>
    <input type="text" ng-model="loginForm.emailAddress" id="emailAddress" required />

    <label for="password">Password:</label>
    <input type="password" id="password" ng-model="loginForm.password" required />

    <label for="rememberMe">Remember Me:</label>
    <input type="checkbox" id="rememberMe" ng-model="loginForm.rememberMe" required />

    <button type="submit">Login</button>
</form>