﻿<!DOCTYPE html>
<html ng-app="JoeMarket" ng-controller="LandingPageController">
<head>
    <title>Uncle Joe`s Market</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
</head>
<body>
<div class="container">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Uncle Joe`s Labour Force Market</a>
            </div>
            <div class="navbar-collapse collapse" collapse="navbarProperties.isCollapsed">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="stateFree">Free labour force</a></li>
                    <li><a ui-sref="stateMerc">Mercenaries</a></li>
                    <li><a ui-sref="stateTools">Tools</a></li>
                    <li><a ui-sref="stateCons">Consumabels</a></li>
                    <li><a ui-sref="stateBund">Bundles</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="stateCart">Cart</a></li>
                    <li><a ui-sref="loginRegister">Login / Register</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <div ui-view="container"></div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.25/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    @Scripts.Render("~/bundles/JoeMarket")
</body>
</html>