﻿<div class="main">
    <div class="container">
        <div ng-repeat="product in products" class="col-md-6">
            <div class="thumbnail">
                <img ng-src="{{ product.ImagePath }}">
                <p class="title">{{ product.ProductName }}</p>
                <p class="price">{{ product.Price | currency }}</p>
                <p class="date">{{ product.Description }}</p>
                <div class="rating">
                    <a class="likes" ng-click="$parent.buy()">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>
